/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #ededed;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #ebe8e8;
  text-decoration: none;
  font-size: 1rem;
}

nav {
  background: #2e2d2d;
  display: flex;
  justify-content: space-between;
  height: 25px;
  align-items: center;
  padding: 0px 5px;
}

nav div {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.background {
  width: 100%;
}

.intro {
  height: 950px;
  background-color: red;
  background-size: cover;
  color: #ebe8e8;
  outline: 2px #2e2d2d;
  font-size: 8vw;
  background-image: url("./img/background-cropped.jpg");
  padding-top: 250px;
  padding-left: 50px;
  text-shadow: -2px -2px 0 #2e2d2d, 2px -2px 0 #2e2d2d, -2px 2px 0 #2e2d2d,
    2px 2px 0 #2e2d2d;
}

.intro h4 {
  font-size: 6vw;
}

.portrait {
  margin-top: 50px;
  margin-left: 50px;
  max-width:500px;
  max-height:500px;
  height: auto;
}

.bio {
  display: flex;
}

.bioText {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  margin-left: 10%;
  margin-right: 15%;
}
.bioText h1 {
  font-size: 2em;
}
.bioText p {
  margin-top: 75px;
}

@media (max-width: 1120px) {
  .intro {
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
  }
  .portrait {
    display: none;
  }
  .bio {
    flex-direction: column;
  }
  .bioText {
    margin: 50px 30px;
  }
  .bioText p {
    margin-top: 25px;
  }
}
